/* ELEMENT CLASS for CHECK */
.BORDER_RED    { border-style: dashed; color: red   ; }
.BORDER_BLUE   { border-style: dashed; color: blue  ; }
.BORDER_GREEN  { border-style: dashed; color: green ; }
.BORDER_YELLOW { border-style: dashed; color: yellow; }
/* ELEMENT CLASS for CHECK END*/


/* ROOT DEFAULT SETTING */
.sapUiBody 			{ margin: 0 !important	; 	font-family: 'IBM Plex Sans', sans-serif	; color: #263238; 	}
.sapMText 			{ color: #263238DE		; 	font-family: 'IBM Plex Sans', sans-serif	; 					}
.sapMNav			{ overflow: auto		; 																	}
.sapUiTableCell:focus:not(*:root) 			{ 	outline: 1px solid #CFD8DC !important		;					}

body 				{ background: #FAFAFA	;
 					  margin: 0				; 		
 					  padding: 0			; 	
 					  overflow: hidden		; 	
 					}
img 				{ opacity: 0.9			; 	-webkit-user-select: none	;	pointer-events: none; 			}		  
button 				{ transition: ALL 0.5s	; 	text-transform: uppercase	; 									}
button,
button span 		{ cursor: pointer		; 	outline:none!important		;									}
div					{ transition: ALL 0.5s;																		}
.sapMBtnInner 		{ outline:none!important; 	
					  font-family: 'IBM Plex Sans' !important; 
					  text-shadow: none !important;
					}												
.sapViewInner 		{ display: block	; 	position: relative	; 		padding: 64px; 							}
.sapViewInner>div	{ display: block	; 																		}
.sapViewInner>div	{ display: block	; 																		}

.noselect 			{ -webkit-touch-callout: none	; 	-webkit-user-select: none	 ;
					  -khtml-user-select: none		; 	-moz-user-select: none		 ; 
					  -ms-user-select: none			; 	user-select: none			 ; 							}

/* ROOT DEFAULT SETTING > VIRTURE CLASS */
input:focus 	{ outline: none !important		; border: none !important  ; outline-offset: 0 !important; 	}
button:hover 	{ transform: translateY(2px)	; 															}
::selection 	{ background: #1DE9B6 !important;															}
:focus 			{ outline: 3px solid #0A6ED150	; font-weight: 700		   ; 								}
.html.sap-desktop .sapMBtn:focus>.sapMFocusable { outline: none !important ; 								}
/* ROOT DEFAULT SETTING */


/* COMMON BUTTON STYLE */
.btnLeftList 					{ width: 182px !important			; height: 38px !important ; margin-bottom: 10px ;	}
.btnLeftList >span 				{ background: #90A4AED4 !important	; border: none !important ; transition: ALL 1s	;	}
.btnLeftList bdi 				{ color: #FFF !important			;													}
.btnLeftList .sapBtnActive		{ backgroud: #FF5267				;													}
.btnLeftList:hover >span 		{ background:#FF5267 !important		;													}

.btnUnder 						{ width: 200px !important			; height: 38px !important ; margin-bottom: 10px ;	}
.btnUnder >span 				{ background: #FF5267 !important	; border: none !important ; transition: ALL 1s	;	}
.btnUnder bdi 					{ color: #FFF !important			;													}
.btnUnder .sapBtnActive			{ background: #37474F				;													}
.btnUnder:hover >span 			{ background: #102027 !important	; 													}
/* COMMON BUTTON STYLE END */


/* LEFT VIEW */
.leftView 						{ width: auto !important	; height: 100% !important	; padding-left: 24px			;
								  padding-right: 24px		; background: #4F5B62		;								}
.leftView>div, 
.leftView>div>div				{ width: 100% !important	;															}
.leftView .menuListBox img		{ width: 24px !important	; height: 24px !important									}
.leftView .subTitle 			{ margin-left: 16px			; font-size: 16px			; color: #FAFAFA !important	;	}
.mvpLogoType 					{ width: 115px				; margin-top: 32px			; margin-bottom: 32px		;	}
/* LEFT VIEW END */

/* CONTENT VIEW */
.contentArea					{ display: flex		; justify-content: space-between; 									}
.contentArea >div:nth-child(1) 	{ width: 30%		; min-width: 320px	;												}
.contentArea >div:nth-child(2) 	{ width: 70%		; min-width: 700px	; margin-left: 32px		; 						}
.titleArea						{ width: 100%		; min-width: 700px	; margin-bottom: 32px	; 
								  justify-content: space-between; display: flex; 	}
.headCopy 						{ font-size: 60px 	; font-weight: 500	;												}
.sapViewInner .subTitle			{ font-size: 20px	; font-weight: 500	; margin-top: 16px		; margin-bottom: 16px;	}
.cardItemUI						{ width:  92%		; margin: 2px		; min-width: 300px		; position: relative	;  
								  padding: 16px		; margin-bottom:16px; border-radius: 16px	; box-shadow: 0 1px 2px gray;
								} 						
.cardItemUI >div 				{ 	width:  50% !important				;																	}
.cardItemUI >div:nth-child(2) 	{	text-align: right !important		; 												}
.cardItemTitle 					{	font-size: 32px	; font-weight: 500	; 												}
.cardItemUnit 					{	margin-top: 16px; margin-left: 4px	; opacity: 0.7			; 						}
.cardItemStatus					{	color: #FF5267 !important			; 												}
.cardItemValue 					{ 	font-size: 64px	; font-weight: 100	; opacity: 0.7			;						}
.chartArea 						{	width: 100%		; height: 260px		; background: #90A4AE	; opacity: 0.05; 		}
/* CONTENT VIEW END */

/* UNDER PAGE VIEW */
.underPageStyle {
	justify-content: center;
    text-align: center;
	background: #C1D5E0 !important;
    width: 100%;
    position: absolute;
    height: 100%;
    left: 0;
    z-index: 2;
}

.underPageStyle .headCopy {
	margin-bottom: 32px;
}

.underPageStyle .subTitle {
	font-size: 26px;
	margin-bottom: 64px;
}
/* UNDER PAGE VIEW END */

/* RESPONSIVE MOBILE (~1000PX) */
@media screen and (max-width: 1000px) {
  .resposiveMaster .sapUiFixFlex {
    display: block;
  }

  .resposiveMaster .sapUiFixFlexFixed {
  	width: 100%;
    background: #4F5B62;
    height: 72px;
    display: flex;
    display: flex;
    position: absolute;
    z-index: 3;
  }

  .mvpLogoType {
    height: 50px !important;
    width: auto !important;
    margin: 10px 0 !important;
  }

  .leftView {
    width: 100%;
  }
  
  .titleArea {
  	display: block;
  }

	/* THIS IS LEFT MENU CONTROLL CLASS [responsiveMasterLeftview] */
  .responsiveMasterLeftview {
    display: flex;
    justify-content: space-between;
  }

  .responsiveMasterLeftview >div {
    display: block;
    margin-top: 1%;
  }

  .sapUiHLayoutChildWrapper 		{ width: auto	; 															}
  .contentArea 						{ display: block; 															}
  .contentArea >div:nth-child(1) 	{ display: block; 	width: 100% !important;		min-width: 100% !important; }
  .contentArea >div:nth-child(2) {
  	display: inline-block;
    width: 100% !important;
    min-width: 100% !important;
    margin-left: 0 !important;
  }

  .headCopy {
    margin-top: 72px;
  }

  .cardItemUI {
    display: flex !important;
  }

  .menuListBox {
    background: red;
  }
}

/* RESPONSIVE MOBILE (~1000PX) END */


